@model IPagedList<MVCHomeWork2017.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td style="border-top:none;">
            @*@using (Html.BeginForm("Index", "CustomerData", FormMethod.Post))
            {
                <div>
                    @Html.TextBox("keyWord", "",new { @class = "form-control" } )
                    <br/><input type="submit" value="搜尋" class="btn btn-default" />
                </div>

            }*@

            @using (Html.BeginForm("Index", "CustomerData", FormMethod.Get))
            {
                <div>
                    @Html.TextBox("keyWord", "", new { @class = "form-control" })
                    <br /><input type="submit" value="搜尋" class="btn btn-default" />
                </div>
                <div>
                    <br />
                    @*@Html.DropDownList("CustomerType", (IEnumerable<SelectListItem>)ViewBag.CustomerType, new { @class = "form-control" })*@
                    @Html.DropDownList("CustomerType", (SelectList)ViewBag.CustomerType, "全部", new { @class = "form-control", onchange = "this.form.submit();" })

                    @*@Html.DropDownList("CustomerType",null, new { @class = "form-control" })*@
                </div>
            }         
            <br />
        </td>

    </tr>
    
<tr>
@using (Html.BeginForm("Index", "CustomerData", FormMethod.Get,new { id = "formsort" }))
{
    <th>
        <span></span>
        <a href=""  value="客戶名稱" name="Submit"  onclick="change(this)">客戶名稱</a>
        @*<input type="submit" value="客戶名稱" name="Submit" id="frm1_columnName" onclick="change(this)"  />*@      
        @*@Html.DisplayNameFor(model => model.FirstOrDefault().客戶名稱)*@
    </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().統一編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerType)
    </th>
        <th>
            <input type="hidden" name="columnName" value="@ViewBag.columnName" id="hidColumnName" />
            <input type="hidden" name="sorttype" value="@ViewBag.sorttype" id="hidSortType" />
        </th>
}
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

<script>

    //紀錄目前排序的欄位及昇冪降冪
    $(document).ready(function () {
        $('#hidColumnName').val('@ViewBag.columnName');
        $('#hidSortType').val('@ViewBag.sorttype');

    });

    //按下標頭排序  存放標頭值  傳至後端
    function change(obj) {
        $('#hidColumnName').val($('#'+obj.id).val());
        if ($('#' + obj.id).val() == $('#hidColumnName').val()) {
            if ( $('#hidSortType').val() == 'asc') {
                $('#hidSortType').val('desc');
            } else { $('#hidSortType').val('asc'); }
        } else {
            //換欄位
            $('#hidSortType').val('asc');
        }
        document.getElementById("formsort").submit();
        //this.document.forms("formsort").submit();
        //$('#' + obj.id).closest("form").submit();
        //obj.form.submit();
        
    }


</script>